<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultLeftDirectory" value=""/>
    <add key="DefaultRightDirectory" value=""/>
    <!-- 1000 = 1초 / 10미만이면 적용되지 않음 - 권장 : 최소 20. -->
    <add key="WorkerDelayTime" value="20"/>
    <!-- 
      검색제외 파일 리스트
      ** 대소문자 구분하지 않습니다.
      
      *** 주의 : 아래의 조건을 필히! 만족해야합니다. ***
        Boolean:FileName[|N]      
          Boolean : 리스트 적용여부로써, true와 false로 사용여부의 선택이 가능합니다.
          FileName : 제외할려는 파일이름으로써 다수의 파일에는 Pipeline, "|"으로 구분하면 됩니다.
        
        Ex)
        - 지정할려는 파일이 없음 >> "true:"
        - "a.txt", "b.txt", "c.txt"를 제외 >> "true:a.txt|b.txt|c.txt"
    -->
    <add key="SkipFileName" value="true:Thumbs.db"/>
    <!-- 
      검색제외 파일포맷 리스트
      ** 대소문자 구분하지 않습니다.
      
      *** 주의 : 아래의 조건을 필히! 만족해야합니다. ***
        Boolean:FileExtension[|N]      
          Boolean : 리스트 적용여부로써, true와 false로 사용여부의 선택이 가능합니다.
          FileExtension : 제외할려는 파일포맷으로 다수의 파일포맷에는 Pipeline, "|"으로 구분하면 됩니다.
                          또한 반드시 파일포맷 앞에 "."이 붙어야 합니다.
        
        Ex)
        - 지정할려는 파일포맷이 없음 >> "true:"
        - "txt", "asp", "pdf"를 제외 >> "true:.txt|.asp|.pdf"
    -->
    <add key="SkipFileExtension" value="true:"/>
    <!-- 파일 포맷이 없고 파일명만 있는 파일의 제외여부 -->
    <add key="SkipNoneFileExtension" value="false"/>
    <!-- 파일크기가 0바이트인 파일의 제외여부 (** 파일 리스트 체크에서 가장 마지막에 적용) -->
    <add key="SkipZeroFileSize" value="false"/>
    <!-- 파일매치 조건으로 파일 크기도 포함여부 (** 파일 해쉬는 기본체크 항목 / 활성화시 리스팅에 느려질 수 있음) -->
    <add key="FileMatchWithSize" value="false"/>
    <!-- 파일매치 조건으로 파일 수정일도 포함여부 (** 파일 해쉬는 기본체크 항목 / 활성화시 리스팅에 느려질 수 있음) -->
    <add key="FileMatchWithEditDate" value="false"/>
    <!-- 탭 타이틀에 검색항목을 카운트 사용함의 여부 -->
    <add key="TabTextUpdateItemCount" value="true"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
</configuration>
